<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Login">
      <setting label="[B][COLOR green]Dados de conta:[/B][/COLOR]" type="lsep" />
      <setting id="token" type="text" label="Token" default=""/>
    </category>
    <category label="Visualização">
	    <setting label="[B][COLOR blue]Selecione abaixo o modo de Visualização do addon[/B][/COLOR]" type="lsep" /> 
        <setting id="menuVisu" type="enum" label="Visualização de Menu" values="Lista|Pôster|Ícone Grande" default="" />
        <setting id="filmesVisu" type="enum" label="Visualização de Filmes" values="Lista|Pôster|Ícone Grande|Shift|Info Wall|Wide List|Wall|Banner|Fanart" default="" />
    </category>
    <category label="Idioma">
	    <setting label="[B][COLOR blue]Selecione abaixo seu idioma[/B][/COLOR]" type="lsep" />	
		<setting id="infoLang" type="select" label="30803" values="bg|cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|pt-BR|ru|sl|sv|tr|zh" default="pt-BR" />
    </category>
    <category label="Atualização automática">
	    <setting label="[B][COLOR blue]Deseja manter atualizações periódicas?[/B][/COLOR]" type="lsep" />
        <setting label="atualização do addon" type="enum" id="upgrade" default="0" values="Sempre|Nunca"/>		
    </category>		
</settings>